body{
    background-color: blanchedalmond;
    text-align: center;
    margin-top: 5%;
    /*
    padding: 10px;
    margin: 0% 25% 0% 25%;
    width: 50%;
    */
}
.container{
    margin: 20px;
}
img{
    border-radius: 10px;
}
.title{
    margin: 5% 0 5% 0;
    border: coral;
    border-style: double;
    text-decoration: underline;
}

.info h4{ 
    text-decoration: underline;
}

.reviews{
    border-radius: 1px;
    border-style: groove;
    border-color: black;
}

.info{
    margin: 5% 0 5% 0;
}

.picture{
    margin: 5% 0 5% 0;
}



.reviews{
    margin: 5% 0 5% 0;
}
.login_container{
    text-align: center;
    border-radius: 2px;
    background-color: #ACEDFB;
    border-style: dashed;
    margin-top: 10px;
    padding: 5px;
}